# private files
base_data/data/res_partner_data_private.xml
base_data/data/res_partner_data_private_10.xml
base_data/data/res_partner_data_private_11.xml
base_data/data/res_partner_data_private_12.xml
base_data/data/res_partner_data_private_13.xml
base_data/data/configuration_data_private.xml
mail_data/data/configuration_data_private.xml
mail_data/data/configuration_data_private_11.xml
mail_data/data/configuration_data_private_12.xml
mail_data/data/configuration_data_private_13.xml
sms_data/data/configuration_data_private.xml
sms_data/data/configuration_data_private_11.xml
sms_data/data/configuration_data_private_12.xml
sms_data/data/configuration_data_private_13.xml
payment_authorize_data/data/configuration_data_private.xml
payment_ogone_data/data/configuration_data_private.xml
payment_paypal_data/data/configuration_data_private.xml